.maincontainer{
   background-color:#ECF0F1;
   width: 95%;
   height: 920px;
}

.header{
   display:flex;
   width: 100%;

}
.header span{
   width: 80%;
}
.title{
   font-weight: bold;
   font-size:20pt;
}
.userinfo{
   display: flex;
   width: 20%;
}
.bodyContent{
   display:flex;
   flex-wrap: wrap;
}
.card{
   width: 30%;
   background-color: white;
   margin: 10px;
   border-radius: 10px;
}
.card:nth-child(4){
   display: flex;
   flex-grow: 4;
   flex-wrap: wrap;
   justify-content:space-around;
}
.box{
   width: 10%;
   background-color: #3498DB;
   margin: 15px;
   border-radius: 5px;
}
.card:nth-child(4) span{
   width: 100%;
   font-weight: bold;
   font-size: 15pt;
}
.sideBar{
   display: flex;
   flex-direction: column;
   width: 80px;
   background-color: #2C3E50;
}
body{
   display: flex;
}
.sideBar a{
   color: white;
   text-decoration: none;
   
}