section{
    height: 50vh;
}
body{
    border: solid 3px red;
    border-radius: 15px;
    padding: 10px;
    
}

nav{
    display: flex;
    justify-content: center;
    border: solid;
}
nav a{
    margin-right: 10px;
}
.secciones{
    position: fixed;
}
*{
    outline: solid green 2px;
}